.section{
    width: 70%;
    margin: 10px 200px;
}

.container{
    background-color: aliceblue;
    padding: 30px;
}

.row{
    padding: 15px;
}

.row h1,i{
    color: rgb(244, 174, 44);
    text-align: center;
}
.lab{
    display: block;
}

.inp{
    width: 100%;
    border: none;
    background-color: rgb(239, 238, 238);
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.star{
    font-size: 40px;
}

.row button{
    background-color: rgb(234, 189, 105);
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}